# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\Lajos\git\EagleSabi.Infrastructure codebase based on best match to current usage at 29-Dec-21
# There already existed an .editorconfig file in this directory. Copy rules from this .editorconfig.inferred file to the existing .editorconfig file as desired to have them take effect at this location.
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


#Formatting - organize using options

#sort System.* using directives alphabetically, and place them before other usings
dotnet_sort_system_directives_first = true

#Style - modifier options

#prefer accessibility modifiers to be declared except for public interface members. This will currently not differ from always and will act as future proofing for if C# adds default interface methods.
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

csharp_style_namespace_declarations = file_scoped:suggestion

# CA1822: Mark members as static ; Category: Performance
dotnet_diagnostic.CA1822.severity = none